*{
    margin: 0;
    padding: 2px;
}
html{
    font-size: 62,5%;
}

@font-face {
    font-family: Montserrat "sans-serif";
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

a{
    text-decoration: none;
    color: black;
        &:hover{
            color:black;
        }
}

.card {
    background-color: rgba(121, 163, 66, 0.3);
    box-shadow: 5px 5px 5px rgb(121, 163, 66); 
        h5{
            font-style: italic; 
            font-size: 26px;
            text-shadow: 4px 4px 4px rgb(121, 163, 66);

        }
}



